.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container > div{
    min-width: 100px;
}
.ls-icon{
    min-width: 200px;
    background-color: red;
}
.ls-icon ul{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
}
.ls-icon ul li{
    font-size: 2rem;
}
.text{
    background-color: blue;
    flex-grow: 2;
}
.like{
    background-color: green;
}
